<div class="jumbotron">
    <img src="https://img.theweek.in/content/dam/week/news/sports/images/2018/8/31/india-japan-hockey-pti31818.jpg">
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Hokey player web Api based data</h2>
       
    </div>
    <div class="col-md-4">
        <h2>By using CRUD operation</h2>
       
    </div>
   
</div>
